:root {
    --neon-blue: #2aefcb;
    --space-dust: #3a4e62;
    --gin: rgb(94, 169, 94);
    --ruby: rgb(184, 80, 80);
}

::selection {
    background-color: var(--space-dust);
    color: var(--neon-blue);
}

body {
    background-image: url("https://i.pinimg.com/originals/67/36/98/673698033287301fdce6bd1c7b600775.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-family: monospace;
}

header {
    display: flex;
    padding: 0.5rem 1rem;
    opacity: .8;
    border: 2px solid var(--gin);
    border-radius: 8px;
    outline: 2px var(--gin);
    min-height: 50px;
    justify-content: space-between;
    background-color: var(--ruby);
    transition: all 0.5s ease-in-out;
}

h1 {
    font-family: monospace;
    color: var(--neon-blue);
    font-size: 250%;
    font-weight: bold;
    margin-left: 8.5%;
    
}

h2 {
    font-family: monospace;
    font-size: 20px;
}

p {
    font-family: monospace;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    padding-top: 30px;
    margin-right: 15px;
    
}

nav a {
    display: flex;
    font-family: monospace;
    color: var(--neon-blue);
    text-decoration: underline;
    justify-content: space-between;
}

header:hover {
    box-shadow: inset 0 0 20px var(--gin);
}

nav a:hover {
    color: var(--gin);
    transition: all 0.1s ease-in-out;  
}

figure:hover {
}

a {
    color:aliceblue;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.justify-center {
    justify-content: center;
  }
  

.justify-left {
    justify-content: left;
}

.card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.code-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    max-width: 100%;
    margin: 1rem 0 1.5rem 0;
    background-color: none;
    color: var(--ruby);
    border-radius: 8px;
    
}

.aboutme-box-big {
    position: relative;
    max-width: 80%;
    margin: -2.5rem 0 1.5rem 0;
    margin-left: 9%;
    padding: 0.5rem 1rem;
    background-color: var(--space-dust);
    opacity: .8;
    color: var(--neon-blue);
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    align-items: center;
}

.code-box-big {
    position: relative;
    max-width: 20%;
    margin: -4rem 0 1.5rem 0;
    margin-left: 9%;
    padding: 0.5rem 1rem;
    background-color: var(--space-dust);
    color: var(--neon-blue);
    opacity: .8;
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    align-items: center;
}


.aboutme-box-big:hover {
    box-shadow: inset 0 0 20px var(--gin);
}


.code-box-big:hover {
    box-shadow: inset 0 0 20px var(--gin);
}
